* {
  margin: 0px;
  padding: 0px;
  font-family: montserrat;
}
.hero {
  background: #040c3a;
  /* height: 200px; */
}

.textInput {
  background: none;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #bdbdbd;
}

.textInput input {
  background: none;
  outline: none;
}

/* ===== styling for the category ==== */
.categoryBg {
  background: #ff4674;
  border-radius: 15px;
}
.dotTask {
  height: 7px;
  width: 7px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
