* {
  margin: 0px;
  padding: 0px;
  font-family: montserrat;
}
.hero {
  background: #040c3a;
  /* height: 200px; */
}

.textInput {
  background: none;
  width: 55%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #bdbdbd;
}

.textInput input {
  background: none;
  outline: none;
}

.addBtn {
  background: #9244cc;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  bottom: 0px;
  right: 35px;
}
